@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  @font-face {
    /* 柔黑體 細 */
    font-family: 'GenJyuuGothic-Light';
    src: url('../font/GenJyuuGothic-Light.woff') format("woff"),
         url('../font/GenJyuuGothic-Light.ttf') format("truetype"),
         url('../font/GenJyuuGothic-Light.eot') format("embedded-opentype");
  }
  @font-face {
    /* 柔黑體 粗 */
    font-family: 'GenJyuuGothic-Bold';
    src: url('../font/GenJyuuGothic-Bold.woff') format("woff"),
         url('../font/GenJyuuGothic-Bold.ttf') format("truetype"),
         url('../font/GenJyuuGothic-Bold.eot') format("embedded-opentype");
  }
  @font-face {
    /* 粉圓體 */
    font-family: 'jf-openhuninn';
    src: url('../font/jf-openhuninn-2.1.ttf') format("truetype");
  }

  body {
    @apply font-sans tracking-wide font-light text-gray-800
  }
  
  .container {
    @apply mx-auto px-4 py-8 max-w-6xl relative md:py-14 
  }

  .content-p {
    @apply text-xl text-justify leading-8
  }
  /* .rounded-btn {
    @apply rounded-full
  }
  .text-shadow {
    @apply [text-shadow:0px_0px_1px_var(--tw-shadow-color)] shadow-gray-600
  } */
}